body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.results-container {
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.category {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
    font-size: 24px;
}

strong {
    font-weight: bold;
    color: #2980b9;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #34495e;
}

@media (max-width: 768px){
    .results-container{
    }
}
